.reuse-button__color {
	width: 120px;
	height: 25px;
	border-radius: 20px;
	margin: 10px;
	color: rgb(247, 242, 242);
	cursor: pointer;
	font-weight: bold;
	background-color: rgb(62, 127, 247);
	border: 3px solid rgb(13, 13, 13);
	transition: 0.3s all;
}

.reuse-button__color:hover {
	color: rgb(14, 14, 14);
	background-color: rgb(5, 252, 170);
}